<html>
<body>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<a href="/login?method=Google" style="text-decoration:none">
    <button style="background-color: #395fdd; color: #ffffff; padding: 8px 16px; border-radius: 4px; font-size: 14px; border: none; display: flex; align-items: center;">
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google Logo"
             style="height: 16px; margin-right: 8px;">
        <span style="line-height: 1;">Log in with Google</span>
    </button>
</a>
</body>
</html>